canvas{
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 9999;
}
#ControlBar{
    padding: 4px;
    background: #00f9;
    left:40%;
    position: absolute;
    z-index: 9999;
}
#GetImgDiv{
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 9999;
    
}
input[type=button]{
    cursor: pointer;
}
input[type=number]{
    width:60px;
}