:root{
    
}

#dynamic_logo{
    transition-duration: 1s !important;
    width: 117px;
    height: 77px;
    margin: 0px;
}

#dynamic_logo:hover{
    animation :HoverPet 1s infinite linear;
}

@keyframes HoverPet {
    0%,100%{
        transform: scale(0.95) rotate(-10deg);
    }
    50%{
        transform: scale(1.1) rotate(10deg);
    }
}

#PetStatus{
    background: #fff;
    border-radius: 5px;
    padding: 4px;
    font-size: 8px;
    margin-bottom: 5px;
}

#PetStatus>div{
    /*
    background:linear-gradient(to right, #0f0 50% , #fff 0%);
    */
    border-radius: 4px;
    margin: 5px 0px;
    height: 20px;
    width: 100px;
    padding: 0 0 0 4px;
    border: 1px solid;
}