#PlurkPoker{
    color:#fff;
    padding:0px;
    margin:0px;
    left:0;
    top:0;
    position:absolute;
}
#PlurkPoker-Msg {
    display:none;
    border-radius: 5px;
    border: 2px solid #000;
    background: #00f5;
    padding: 2px;
    text-align: center;
    position: fixed;
}

#PlurkPoker-Msg div{
    color:#fff;
}
#PlurkPoker-Msg input[type=text]{
    height: 20px;
    width: 100px;
}

#PlurkPoker-Msg a{
    color:#fff;
}

#PlurkPoker-Msg a:hover{
    color:#f00;
    text-decoration: underline;
}

#PlurkPoker-Menu {
    display:none;
    border-radius: 5px;
    border: 2px solid #000;
    background: #00f5;
    padding: 2px;
    text-align: center;
    position: fixed;
}

#PlurkPoker-Menu li {
    border-radius: 5px;
    padding: 2px 8px;
}


#PlurkPoker-Menu a{
    color:#fff;
}

#PlurkPoker-Menu a:hover{
    color:#f00;
    text-decoration: underline;
}





#PlurkPoker [draggable="true"]{
    cursor:move;
}
#PlurkPoker>div{
    top: 10%;
    border-radius: 5px;
    border: 2px solid #000;
    padding: 4px;
    background: #00f5;
    position: fixed;
}

#PlurkPoker .player_cards{
    display:none;
    padding-bottom: 20px;
}

#PlurkPoker .player_cards.now_trun{
    background:#f005;
    
}


#PlurkPoker .player_cards:nth-child(1){
    padding-top: 20px;
    top: calc(90% - 100px);
    left: 15%;
}

#PlurkPoker .player_cards:nth-child(1) .poker:hover{
    transform: scale(1.1);
}
#PlurkPoker .player_cards:nth-child(1) .poker.select{
    transform: translateY(-20px);
}
#PlurkPoker .player_cards:nth-child(1) .poker div{
    width: 100%;
    height: 100%;
    border: 2px dotted #00f;
    background: #fff9;
}



#PlurkPoker .player_cards:nth-child(2){
    top: 30%;
    left: calc(90% - 100px);
}

#PlurkPoker .player_cards:nth-child(3){
    left: 30%;
    top: 5%;
}

#PlurkPoker .player_cards:nth-child(4){
    top: 30%;
    left: 10%;
}


#PlurkPoker .player_cards:nth-child(3) .poker{
    margin-left: -40px;
}

#PlurkPoker .player_cards:nth-child(2) .poker,
#PlurkPoker .player_cards:nth-child(4) .poker{
    transform: rotateZ(90deg); 
    margin-top: -80px;
}

#PlurkPoker .post_card {
    min-height:100px;
    min-width:210px;
    background: transparent;
    position:absolute;
    display: flex;
    border: none;
    padding:20px 10px 10px 10px;
}

#PlurkPoker .post_card span{
    position: absolute;
    margin-top: -18px;
    background: #FF574D;
    color: #fff;
    border-radius: 5px;
    padding: 0px 4px;
    cursor: pointer;
}


#PlurkPoker .post_card:hover{
    background:#fff5;
}







#PlurkPoker input{
    padding: 8px;
    margin: 2px;
}

#PlurkPoker input[disabled]{
    cursor:not-allowed;
}

#PlurkPoker ul{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
#PlurkPoker ul li{
    background: #FF574D;
    color: #fff;
    border-radius: 5px;
    padding: 2px 10px;
    margin: 4px 2px;
    cursor: pointer;
}
#PlurkPoker ul li:hover,#PlurkPoker input:hover:not([disabled]){
    background: #00f !important;
}


#PlurkPoker ul li.now_turn{
    animation: ani1 1s linear infinite;
}

@keyframes ani1 {
    0%,100% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
}

#PlurkPoker .poker{
    transition-duration: 0.5s;
    width:70px;
    height:100px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/a/a1/Svg-cards-2.0.svg);
    background-size: 1285%;
    cursor:pointer;
}

#PlurkPoker .poker.back{
    background-position: -138px -402px;
}

#PlurkPoker .poker.nu1{
    background-position-x: 0;
}
#PlurkPoker .poker.nu2{
    background-position-x: calc(-68px * 1);
}
#PlurkPoker .poker.nu3{
    background-position-x: calc(-69px * 2);
}
#PlurkPoker .poker.nu4{
    background-position-x: calc(-69px * 3);
}
#PlurkPoker .poker.nu5{
    background-position-x: calc(-69px * 4);
}
#PlurkPoker .poker.nu6{
    background-position-x: calc(-69px * 5);
}
#PlurkPoker .poker.nu7{
    background-position-x: calc(-69px * 6);
}
#PlurkPoker .poker.nu8{
    background-position-x: calc(-69px * 7);
}
#PlurkPoker .poker.nu9{
    background-position-x: calc(-69px * 8);
}
#PlurkPoker .poker.nu10{
    background-position-x: calc(-69px * 9);
}
#PlurkPoker .poker.nu11{
    background-position-x: calc(-69px * 10);
}
#PlurkPoker .poker.nu12{
    background-position-x: calc(-69px * 11);
}
#PlurkPoker .poker.nu13{
    background-position-x: calc(-69px * 12);
}


#PlurkPoker .poker.color1{
    background-position-y: calc(-100px * 0);
}

#PlurkPoker .poker.color2{
    background-position-y: calc(-100px * 1);
}

#PlurkPoker .poker.color3{
    background-position-y: calc(-100px * 2);
}

#PlurkPoker .poker.color4{
    background-position-y: calc(-100px * 3);
}