div#plurkInfo{
    border-radius: 3px;
    margin: 2px 0px;
    
    overflow-y: scroll;
    
}

div#plurkInfo hr{
    width: 100%;
}

div.plurkinfolist{
    background: #fff;
    border-radius: 3px;
    border: 2px double #000;
    margin: 2px 0px;
    padding: 4px;
    
    width: 380px;
    
    font-size: 8px;
}

